@iconColor:rgb(155, 103, 103);
input{
    outline: none;
    border: none;
    width: 100%;
}
body{
    margin: 0 ;
}
.w1100{width: 1100px;
margin: 0 auto;}

@colorWord: #45453f;

.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
 }

.displayflexSpace-between(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayflexflex-end(){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.displayflexflex-start(){
    display: flex;
    justify-content: flex-start;
    align-items: center;
}